@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Inter", system-ui;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
    min-height: 100vh;  /* Asegura que el body ocupe al menos la altura completa de la ventana */
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    flex-shrink: 0;
}

.header-logo {
    width: 100px;
    /* height: 40px; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 700;

}

nav ul li a:hover {
    color: #007BFF;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    height: 410px;
}

.main-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content h1 span {
    font-size: 3rem;
    font-weight: bold;
}

.logo-main-content {  
    width: 100%;
    height: 700px; 
    overflow: hidden;
}

.logo-main {
    width: 100px;
    height: 300px;
    transform: scale(12);
}

.main-content p {
    font-size: 2rem;
    margin-top: 10px;
}

.hashtag {
    margin-top: 10px;
    font-weight: bold;
}

.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
    height: 410px;
    background-color: #fcfcfc
    ;
    
}

.us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
    height: 410px;
    background-color:   #ffffff;
    
}

.cont-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
    height: 410px;
    background-color: #f2f2f2
    ;
    
}



footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 100px;
}

.footer-content .links ul {
    list-style: none;
}

.footer-content .links ul li a {
    text-decoration: none;
    color: white;
}

.footer-content .social ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer-content .social ul li a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    font-size: 0.8rem;
}

.logo-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; 
    overflow: hidden;
    margin-right: 8rem;
}

.logo-footer {
    width: 200px;
}

.social {
    margin-left: auto;
}


.main-content, .team-content, .us-content, .cont-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Clase para activar la animación */
.page-loaded .main-content,
.page-loaded .team-content,
.page-loaded .us-content,
.page-loaded .cont-content {
    opacity: 1;
    transform: translateY(0);
}